body {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6em;
}

h1,
h2 {
  color: #007e7e;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 120%;
}
#guarantee {
  padding: 25px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 250px;
  background-color: #a7cece;
  border: 1px dashed white;
  background-image: url(./images/background.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
  line-height: 1.9em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #444;
}
