* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f5f7;
    margin-bottom: 1200px;
}
li {
    list-style: none;
}
a {
    color: #050505;
    text-decoration: none;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.head {
    height: 42px;
    margin: 30px auto;
    /* background-color: rgb(200, 200, 200); */
    /* overflow: hidden; */
}
.head .logo {
    float: left;
    height: 42px;
    width: 192px;
    margin-right: 70px;
}
.head .nav {
    float: left;
    width: 249px;
    height: 40px;
    margin-right: 92px;
}
.head .nav ul li {
    float: left;
    margin-right: 16px;
}
.nav ul li a {
    height: 40px;
    padding: 0 8px;
    line-height: 40px;
    font-size: 18px;
}
.head .nav ul li:hover {
    border-bottom: 2px solid #00a4ff;
}
.head .search {
    float: left;
    height: 42px;
}
.search .lsearch {
    float: left;
    width: 346px;
    height: 38px;
    border: 0;
    padding-left: 15px;
    border: 2px solid #00a4ff;
    border-right: 0;
}
.lsearch:visited {
    border: 0;
    background-color: seagreen;
}
.search .sbutton {
    display: block;
    float: left;
    height: 42px;
    width: 50px;
    /* border: 2px solid #00a4ff; */
    border: 0;
    border-left: 0;
    background-image: url(../material/fa-search.png);
}
.head .user {
    float: right;
    margin-right: 32px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #666666;
}
.banner {
    height: 420px;
    background-color: #1c036c;
}
.banner .w {
    height: 420px;
    background: url(../material/banner.png) no-repeat scroll top center;
}
.banner .lnav {
    float: left;
    width: 190px;
    height: 420px;
    background: rgba(0, 0, 0, 0.3);
}
.banner .lnav ul {
    margin-top: 12px;
}
.banner .lnav ul li {
    padding: 0px 20px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
}
.banner .lnav a {
    display: block;
    float: left;
    width: 150px;
    color: #fff;
}
.banner .lnav a:hover {
    color: #00a4ff;
}
.banner .lnav span {
    display: block;
    float: right;
}
.banner .course {
    float: right;
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: #fff;
}
.banner .course > h4 {
    height: 48px;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    background-color: #9bceea;
}

.banner .course li {
    padding: 12px 0;
    margin: 0 20px;
    border-bottom: 1px solid #efefef;
}
.banner .course li h5 {
    font-size: 16px;
    color: #4e4e4e;
}
.banner .course li p {
    font-size: 12px;
    color: #a5a5a5;
}
.banner .course .all {
    display: block;
    margin: 10px 14px;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;
    line-height: 40px;
    text-align: center;
    color: #00a4ff;
}
/* 推荐的样式 */
.recommend {
    margin-top: 8px;
    height: 60px;
    box-shadow: 0px 2px 11px 1px #dcdee0;
}
.recommend .left {
    float: left;
    padding: 0 34px;
    line-height: 60px;
    font-size: 16px;
    color: #00a4ff;
}
.recommend ul {
    float: left;
}
.recommend ul li {
    float: left;
}
.recommend ul li a {
    display: block;
    margin: 22px 0;
    width: 122px;
    height: 16px;
    border-left: 1px solid #bfbfbf;
    line-height: 16px;
    text-align: center;
    font-style: 16px;
    color: #050505;
}
.recommend ul li a:hover {
    color: #00a4ff;
}
.recommend .right {
    float: right;
    display: block;
    padding: 22px 26px 22px 0px;
    font-size: 14px;
    color: #00a4ff;
}
/* box顶部样式，每个box可复用 */
.boxTop {
    height: 41px;
    margin-top: 20px;
}
.boxTopLeft {
    float: left;
    font-size: 20px;
    color: #494949;
}
.boxTopRight {
    float: right;
    margin: 10px 32px 0px 0px;
    font-size: 12px;
    color: #a5a5a5;
}
.boxTopMid {
    float: left;
    margin-left: 70px;
    font-size: 16px;
    color: 868686;
}
.boxTopMid:hover {
    color: #00a4ff;
}
/* 具体内容盒子的样式 */
.contentBox {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}
.contentBox:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
.contentBoxImg {
    width: 100%;
}
.contentBoxHeadline {
    display: block;
    float: left;
    padding: 20px 20px 14px 20px;
    width: 188px;
    height: 35.5px;
    font-size: 14px;
    color: #050505;
}
.contentBoxLevel {
    float: left;
    padding-left: 20px;
    font-size: 12px;
    color: #ff7c2d;
}
.contentBoxDot {
    float: left;
    padding: 0px 9px;
    font-size: 12px;
    color: #999999;
}
.contentBoxStudyNumber {
    float: left;
    font-size: 12px;
    color: #999999;
}
/* 精品推荐栏目的样式 */
.goods {
    margin-top: 37px;
}

.goods .top {
    height: 21px;
}
.goods .top .ltop {
    float: left;
    font-size: 20px;
    color: #494949;
}
.goods .top .rtop a {
    float: right;
    margin: 10px 32px 0px 0px;
    font-size: 12px;
    color: #a5a5a5;
}
.goods ul {
    margin-top: 21px;
    width: 1215px;
}
.goods ul li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}
.goods ul li:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
.goods ul li img {
    width: 100%;
}
.goods ul li h4 {
    float: left;
    padding: 20px 20px 14px 20px;
    font-size: 14px;
    color: #050505;
}
.goods ul li span {
    float: left;
    padding-left: 20px;
    font-size: 12px;
    color: #ff7c2d;
}
.goods .dot {
    float: left;
    padding: 0px 9px;
    font-size: 12px;
    color: #999999;
}
.goods ul li p {
    float: left;
    font-size: 12px;
    color: #999999;
}
/* 编程入门的样式 */
.codeEntry {
    margin-top: 20px;
    /* height: 433px; */
}
.codeEntry .top {
    height: 41px;
}
.codeEntry .top .mid {
    float: right;
    margin-top: 5px;
    margin-right: 352px;
}
.codeEntry .top .mid a:hover {
    color: #00a4ff;
}
.codeEntry .top .right {
    float: right;
}
.codeEntry .top .codeEntry .content {
    height: 392px;
}
.codeEntry .content {
    width: 1225px;
}
.codeEntry .content .left {
    float: left;
    height: 100%;
}
.codeEntry .content .right {
    float: left;
    margin-left: 15px;
}
.codeEntry .content .right .top {
    float: left;
    height: 100%;
    margin-bottom: 22px;
}
/* .codeEntry .content .right .bottom {
    float: left;
    width: 228px;
    height: 270px;
} */
.codeEntry .content .right ul li {
    float: left;
}
/* 机器学习工程师样式 */

.bottomContent .boxTop .mid {
    float: right;
    margin-top: 5px;
    margin-right: 352px;
}
.bottomContent .top .mid a:hover {
    color: #00a4ff;
}
.bottomContent .content ul {
    width: 1225px;
}
.footer {
    height: 417px;
    background-color: #fff;
}
.footer .w {
    margin-top: 33px;
}
.footer .w .bigw {
    width: 1325px;
}
.footer .w .copyright {
    margin-left: 22px;
    float: left;
    font-size: 12px;
    color: #666666;
}
.footer .w .copyright .p {
    font-family: "SimSun";
}
.footer .w .copyright .logo {
    margin-bottom: 25px;
}
.footer .w .copyright .app {
    display: block;
    margin-top: 16px;
    width: 118px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
}
.footer .link {
    width: 645px;
    float: left;
    margin-left: 224px;
}
.footer .link dl {
    float: left;
}
.footer .link dl dd {
    font-size: 16px;
    font-size: 12px;
    color: #333;
}
.footer .link dl dt {
    margin-right: 145px;
    color: #333;
    margin-bottom: 16px;
}
