* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 320px;
  max-width: 1080px;
  font-size: 14px;
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #ccc;
  color: #fff;
  height: 2000px;
}
ul {
  list-style: none;
}
a {
  color: #666666;
  text-decoration: none;
}
/* app模块 */
.app {
  /* width: 100%; */
  height: 50px;
  background-color: #232326;
  line-height: 50px;
  text-align: center;
}
.app img {
  vertical-align: middle;
}
.app ul li {
  float: left;
  box-sizing: border-box;
}
.app ul li:nth-child(1) {
  width: 8%;
}
.app ul li:nth-child(1) img {
  width: 16px;
  height: 16px;
}
.app ul li:nth-child(2) {
  width: 10%;
  padding-left: 3%;
}
.app ul li:nth-child(2) img {
  width: 35px;
  height: 35px;
}
.app ul li:nth-child(3) {
  width: 51%;
  padding-left: 6%;
  text-align: left;
}
.app ul li:nth-child(3) p {
  font-size: 12px;
  height: 19px;
  line-height: 31px;
}
.app ul li:nth-child(3) p:nth-child(2) {
  color: #999999;
}
.app ul li:nth-child(4) {
  float: right;
  width: 31%;
  background-color: #cd2525;
  font-size: 15px;
}
/* search_wrap模块 */
.search_wrap {
  z-index: 5;
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #c82519;
}
.search_wrap .button,
.search_wrap .login {
  position: absolute;
  top: 0;
  width: 40px;
  height: 44px;
}
.search_wrap .button {
  left: 0;
}
.search_wrap .button span {
  margin: 14px 0 0 15px;
  display: block;
  width: 20px;
  height: 18px;
  background: url(../images/s-btn.png) no-repeat;
  background-size: cover;
}
.search_wrap .login {
  right: 0;
  text-align: center;
  line-height: 44px;
}
.search_wrap .search {
  /* overflow: hidden; */
  margin: 7px 43px;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
}
.search_wrap .search .logo {
  float: left;
  position: relative;
  margin: 8px 8px 0 15px;
  width: 20px;
  height: 15px;
  background: url(../images/jd.png) no-repeat;
  background-size: cover;
}
.search_wrap .search .logo::before {
  content: "";
  position: absolute;
  right: -8px;
  top: 1px;
  width: 1px;
  height: 15px;
  background-color: #dddddd;
  line-height: 30px;
}
.search_wrap .search .zoom {
  float: left;
  margin: 8px 0 0 5px;
  width: 18px;
  height: 15px;
  background: url(../images/jd-sprites.png) no-repeat -83px 0px;
  background-size: 200px;
}
.search_wrap .search input {
  position: absolute;
  top: 14px;
  left: 117px;
  /* float: left; */
  border: none;
  width: 48%;
  height: 16px;
  outline: none;
  font-size: 12px;
}
.main {
  width: 100%;
}

.main .focus {
  position: relative;
  margin-top: 8px;
  height: 140px;
  text-align: center;
}
.main .focus .back_ground {
  z-index: -1;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  padding-top: 8px;
  width: 100%;
  height: 140px;
  text-align: center;
}
.main .focus .back_ground::before {
  position: absolute;
  content: "";
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 129%;
  height: 129%;
  border-radius: 0 0 40% 40%;
  background-color: #c82519;
  z-index: -1;
}
.main .focus .f_img {
  overflow: hidden;
  position: relative;
  height: 140px;
  text-align: center;
}
.main .focus img {
  width: 94%;
  border-radius: 10px;
}
.main .brand {
  height: 100px;
}
.main .brand ul li {
  float: left;
  width: 33%;
  height: 100px;
}
.main .brand ul li a img {
  width: 100%;
}
.main .nav a {
  float: left;
  width: 20%;
  height: 74px;
  text-align: center;
  font-size: 12px;
}
.main .nav a img {
  width: 2rem;
  margin-top: 0.5rem;
}
.main .nav a span {
  display: block;
  margin-top: 6px;
}
