html {
  font-size: 50px;
}
@media screen and (max-width: 319px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
body {
  width: 15rem;
  margin: 0 auto;
  min-width: 320px;
  font-family: Arial, Helvetica, STHeiTi, sans-serif;
  background: #f2f2f2;
  font-size: 0.5rem;
}
.search-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 1.76rem;
  background-color: #ffc001;
}
.search-content .classify {
  margin: 0.22rem 0.5rem 0.14rem 0.48rem;
  width: 0.88rem;
  height: 1.4rem;
  background: url(../images/classify.png) no-repeat;
  background-size: 100% 100%;
}
.search-content .search {
  margin-top: 0.24rem;
  width: 11.24rem;
  height: 1.32rem;
  flex: 1;
  border-radius: 0.66rem;
  background-color: #fff2cc;
  color: #757575;
  line-height: 1.32rem;
  padding-left: 1rem;
}
.search-content .login {
  margin: 0.2rem;
  width: 1.5rem;
  height: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
  color: #fff;
}
.banner {
  width: 15rem;
  height: 7.36rem;
}
.banner a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner a img {
  width: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
}
.nav a {
  float: left;
  width: 3rem;
  height: 2.8rem;
  text-align: center;
}
.nav a .logo {
  width: 1.64rem;
  height: 1.64rem;
  margin: 0.2rem 0.68rem 0.2rem;
  background: url(../upload/nav1.png) no-repeat;
  background-size: cover;
}
