@media screen and (min-width: 750px) {
    html {
        font-size: 75px !important;
    }
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
}
input {
    border: none;
    outline: none;
}
body {
    width: 10rem;
    margin: 0 auto;
    min-width: 320px;
    max-width: 750px;
    font-family: Arial, Helvetica;
}
.search-content {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 10rem;
    height: 1.173333rem;
    background-color: #ffc001;
}
.search-content .classify {
    margin: 0.146667rem 0.333333rem 0.093333rem 0.32rem;
    width: 0.586667rem;
    height: 0.933333rem;
    background: url(../images/classify.png) no-repeat;
    background-size: cover;
}
.search-content .search {
    margin: 0.16rem 0 0;
    flex: 1;
    width: 7.493333rem;
    height: 0.88rem;
    background-color: #fff2cc;
    border-radius: 0.44rem;
}
.search-content .login {
    margin: 0.133333rem;
    width: 1rem;
    height: 0.933333rem;
    text-align: center;
    line-height: 0.933333rem;
    color: #fff;
    font-size: 0.333333rem;
}
header {
    width: 10rem;
}
header a {
    width: 100%;
    height: 100%;
}
header a img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.ad {
    width: 10rem;
    display: flex;
}
.ad a {
    flex: 1;
}
.ad a img {
    width: 100%;
    height: 100%;
}
nav {
    display: flex;
    width: 10rem;
    height: 3.733333rem;
    flex-wrap: wrap;
}
nav a {
    display: flex;
    flex: 20%;
    flex-direction: column;
    align-items: center;
}
nav a img {
    margin: 0.266667rem;
    width: 1.093333rem;
    height: 1.093333rem;
    flex: 1;
}
nav a p {
    flex: 1;
    font-size: 0.333333rem;
}
