/* main 开始 */
.main {
    position: relative;
    margin-left: 219px;
    margin-top: 10px;
    width: 981px;
    height: 455px;
}
.focus {
    position: relative;
    float: left;
    width: 721px;
}
.focus::before {
    font-family: "icomoon";
    content: "\ea44";
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -13px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
}
.focus::before:hover {
    color: #ffffff60;
}
/* 这里其实还是用button做比较好,用伪元素是做不了的,因为功能无法实现 */
.focus::after {
    font-family: "icomoon";
    content: "\ea42";
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -13px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
}
.focus::after:hover {
    color: #ffffff60;
}
.focus .bar {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -65px;
    overflow: hidden;
    width: 130px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(1, 1, 1, 0.3);
}
.focus .bar .content {
    padding-left: 5px;
    line-height: 15px;
    font-size: 100px;
}
.focus .bar .content li {
    float: left;
}
.main .newsflash {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    height: 455px;
}
.main .newsflash .news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.main .newsflash .news .news_hd {
    padding: 0 15px;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e8e8e7;
}
.main .newsflash .news .news_hd h4 {
    float: left;
    font-size: 14px;
    color: #333333;
}
.main .newsflash .news .news_hd a {
    float: right;
}
.main .newsflash .news .news_hd a::after {
    font-family: "icomoon";
    content: "\e920";
}
.main .newsflash .news .news_bd ul {
    padding-top: 7px;
    width: 250px;
}
.main .newsflash .news .news_bd ul li {
    float: left;
}
.main .newsflash .news .news_bd ul li a {
    display: block;
    padding: 0 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 235px;
    height: 24px;
    line-height: 24px;
}
.main .newsflash .service {
    overflow: hidden;
    width: 250px;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: none;
}
.main .newsflash .service ul {
    width: 280px;
}
.main .newsflash .service ul li {
    position: relative;
    float: left;
    padding-top: 13px;
    text-align: center;
    width: 63px;
    height: 70px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e4e4e4;
}
.main .newsflash .service ul li:nth-of-type(2) a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 15px;
    background: url(../images/jian.png) top right no-repeat;
}
.main .newsflash .service ul li a .icon {
    display: inline-block;
    width: 25px;
    height: 26px;
    background: url(../images/icons.png) no-repeat -16px -16px;
}
.main .newsflash .service ul li:nth-of-type(2n) a .icon {
    background-position: -78px -16px;
}
.main .newsflash .service ul li:nth-of-type(3n) a .icon {
    background-position: -140px -16px;
}
.main .newsflash .service ul li:nth-of-type(4n) a .icon {
    background-position: -205px -16px;
}
.main .newsflash .bargain {
    margin-top: 5px;
}
/* main 结束 */
/* recommend 开始 */
.recommend {
    width: 1250px;
    margin-top: 11px;
    height: 163px;
}
.recommend .rec_hd {
    padding-top: 31px;
    width: 206px;
    height: 163px;
    text-align: center;
    background-color: #5c5251;
}
.recommend .rec_hd h1 {
    margin-top: 7px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
.recommend .rec_bd ul {
    background-color: #ebebeb;
}
.recommend .rec_bd ul li {
    overflow: hidden;
    float: left;
}
.recommend .rec_bd ul .border {
    float: left;
    margin-top: 10px;
    width: 1px;
    height: 143px;
    background-color: #dddddd;
}
.recommend .rec_bd ul li a {
    display: block;
    width: 248px;
    height: 163px;
}
.recommend .rec_bd ul li a .text {
    overflow: hidden;
    float: left;
    margin: 22px 0 0 19px;
    width: 87px;
    font-weight: 400;
}
.recommend .rec_bd ul li a .text h3,
.recommend .rec_bd ul li a .text h4,
.recommend .rec_bd ul li a .text p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recommend .rec_bd ul li a .text h3 {
    font-size: 16px;
    color: #333333;
}

.recommend .rec_bd ul li a .text h4 {
    display: inline-flex;
    padding: 0 2px;
    font-size: 14px;
    color: #ffffff;
    background-color: #00a0e8;
}
.recommend .rec_bd ul li:nth-child(2) a .text h4,
.buy {
    background-color: #5fb200;
}
.recommend .rec_bd ul li:nth-child(3) a .text h4,
.buy {
    background-color: #e2162f;
}
.recommend .rec_bd ul li:nth-child(4) a .text h4,
.buy {
    background-color: #0085fb;
}
.recommend .rec_bd ul li a .text p {
    color: #666666;
}
.recommend .rec_bd ul li a .text .buy {
    margin-top: 21px;
    width: 57px;
    height: 18px;
    border-radius: 9px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    color: #ffffff;
}
.recommend .rec_bd ul li a .img {
    overflow: hidden;
    margin: 24px 10px 0 0;
    float: right;
    width: 120px;
    height: 120px;
    text-align: center;
}
/* recommend 结束 */
/* like 开始 */
.like {
    overflow: hidden;
    margin-top: 30px;
    height: 262px;
}
.like .like_hd {
    height: 29px;
}
.like .like_hd h4 {
    margin-top: -5px;
    float: left;
    font-size: 18px;
    color: #333333;
}
.like .like_hd button {
    float: right;
    background-color: #ffffff;
}
.like .like_hd button::after {
    font-family: "icomoon";
    content: "\ea2e";
    margin: 0 21px 0 9px;
}
.like .like_hd button:hover {
    color: #c81623;
}
.like .like_bd {
    height: 233px;
    border: 1px solid #ededed;
}
.like .like_bd ul {
    width: 1250px;
}
.like .like_bd ul li {
    float: left;
    width: 202px;
    height: 231px;
}
.like .like_bd ul li .img {
    width: 202px;
    height: 161px;
    line-height: 161px;
    text-align: center;
}
.like .like_bd ul li .text {
    border-right: 1px solid #ececec;
    padding-left: 35px;
}
.like .like_bd ul li .text span {
    margin-top: 5px;
    font-size: 14px;
    color: #df3033;
}
.like .like_bd ul li .text h4 {
    margin-left: -5px;
    margin-top: 5px;
    display: inline;
    font-size: 18px;
    color: #df3033;
}
/* like 结束 */
/* interesting 开始 */
.w .interesting {
    width: 1300px;
}
.w .interesting .int_hd {
    margin-top: 36px;
    height: 19px;
    line-height: 19px;
    font-size: 18px;
}
.w .interesting .int_bd {
    margin-top: 8px;
    height: 407px;
    width: 1200px;
    border-width: 1px 0px 1px 0;
    border-style: solid;
    border-color: #ededed;
}
.w .interesting .int_bd .good_book {
    float: left;
    width: 404px;
    height: 404px;
    text-align: center;
    line-height: 404px;
    background-color: #b8bddd;
}
.w .interesting .int_bd .good_thing {
    float: left;
    width: 227px;
    height: 404px;
    border-right: 1px solid #ededed;
}
.w .interesting .int_bd .good_thing h4 {
    margin-left: 18px;
    width: 191px;
    height: 40px;
    border-bottom: 1px dashed #ededed;
    text-align: center;
    line-height: 39px;
    font-weight: 400;
    font-size: 14px;
}
.w .interesting .int_bd .good_thing .good_thing_bd {
    height: 207px;
    border-bottom: 1px solid #ededed;
    line-height: 207px;
    text-align: center;
}
.w .interesting .int_bd .good_thing .good_thing_bd img {
    width: 100%;
}
.w .interesting .int_bd .good_thing .height_159 {
    height: 159px;
    line-height: unset;
}
.w .interesting .int_bd .brand_street {
    float: left;
    width: 406px;
    height: 404px;
    border-right: 1px solid #ededed;
    background-color: #f7f7f7;
}
.w .interesting .int_bd .brand_street h3 {
    width: 367px;
    height: 40px;
    border-bottom: 1px dashed #ededed;
    text-align: center;
    line-height: 39px;
    font-size: 14px;
    font-weight: 400;
}
.w .interesting .int_bd .brand_street .suber {
    display: block;
    width: 406px;
    height: 207px;
    border-bottom: 1px solid #ededed;
    text-align: center;
    line-height: 207px;
}
.w .interesting .int_bd .brand_street ul {
    width: 500px;
}
.w .interesting .int_bd .brand_street ul li:first-child a {
    display: block;
    width: 203px;
    height: 159px;
    border-right: 1px solid #ededed;
}
.w .interesting .int_bd .brand_street ul li:last-child a {
    display: block;
    width: 202px;
    height: 159px;
}
.w .interesting .int_bd .brand {
    float: left;
    width: 163px;
    height: 404px;
    border-right: 1px solid #ededed;
}
.w .interesting .int_bd .brand ul {
    margin: 13px 0px 0px 5px;
    height: 381px;
    width: 180px;
}
.w .interesting .int_bd .brand ul li {
    float: left;
    height: 58px;
    border-bottom: 1px dashed #e0e0e0;
}
.w .interesting .int_bd .brand ul li a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.w .interesting .int_bd .brand ul li:nth-child(odd) {
    width: 79px;
    border-right: 1px dashed #e0e0e0;
}
.w .interesting .int_bd .brand ul li:nth-child(even) {
    width: 78px;
}
.w .interesting .int_bd .brand ul li:nth-child(-n + 2) {
    height: 45px;
}
.w .interesting .int_bd .brand ul li:nth-child(n + 13) {
    height: 45px;
    border-bottom: none;
}
/* interesting 结束 */
/* floor 开始 */
/* 家电jiadian 开始 */
.floor .box_hd {
    margin-top: 29px;
    height: 27px;
    border-bottom: 2px solid #c81623;
}
.floor .box_hd h4 {
    float: left;
    width: 72px;
    height: 17px;
    line-height: 17px;
    font-size: 18px;
    color: #cc353e;
}
.floor .box_hd .tab_list {
    margin-top: 6px;
}
.floor .box_hd .tab_list li {
    float: right;
}
.floor .box_hd .tab_list li a {
    padding-right: 16px;
    padding-left: 14px;
}
.floor .box_bd {
    padding-left: 1px;
    height: 360px;
}
.floor .box_bd .tab_content .tab_list_item .col_210 {
    float: left;
    width: 210px;
    height: 360px;
    background-color: #f9f9f9;
}
.floor .box_bd .tab_content .tab_list_item .col_210 ul {
    height: 99px;
}
.floor .box_bd .tab_content .tab_list_item .col_210 ul li {
    float: left;
    margin-left: 12px;
    width: 86px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    border-bottom: 1px solid #ededed;
}
.floor .box_bd .tab_content .tab_list_item .col_210 ul li a {
    width: 100%;
    height: 100%;
}
.floor .box_bd .tab_content .tab_list_item .col_210 .bd {
    display: block;
    width: 210px;
    height: 260px;
    text-align: center;
    line-height: 260px;
}
.floor .box_bd .tab_content .tab_list_item .col_329 {
    float: left;
    width: 329px;
    height: 360px;
    text-align: center;
}
.floor .box_bd .tab_content .tab_list_item .col_329 a {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
}
.floor .box_bd .tab_content .tab_list_item .col_329 a img {
    width: 100%;
}
.floor .box_bd .col_220 {
    overflow: hidden;
    float: left;
    width: 220px;
    height: 360px;
    text-align: center;
    line-height: 360px;
    border-right: 1px solid #ededed;
}
.floor .box_bd .tab_content .tab_list_item .col_220 > a {
    display: block;
    width: 100%;
    height: 100%;
}
.floor .box_bd .col_220 ul li a {
    display: block;
    overflow: hidden;
    width: 220px;
    height: 181px;
    text-align: center;
    line-height: 180px;
}
.floor .col_220 ul li:first-child a {
    border-bottom: 1px solid #ededed;
}
.floor .col_220 ul li:last-child a {
    height: 178px;
}
.floor .box_bd .col_220:last-child {
    border-right: none;
}
.floor footer {
    margin-top: 20px;
    width: 1200px;
    height: 65px;
}
/* 家电jiadian 结束 */
/* floor 结束 */
